<!-- Utilisation de ngSwitch pour afficher le bon type d'exercice -->

<div *ngFor="let exercice of this.controle.exercicesReponses">

    <div [ngSwitch]="exercice.type">
        <!-- Cas de l'exercice de traduction -->
        <app-translation-exercice *ngSwitchCase="'translation'" [exercice]="exercice.exercice" [reponse]="exercice.reponse"></app-translation-exercice>
        <div *ngIf="afficher" class="d-block justify-content-center text-center align-items-center">
          <p *ngIf="exercice.exercice.answers.francais!='' &&exercice.exercice.answers.francais === exercice.reponse.francais "> Bravo la réponse en français est bien : {{ exercice.exercice.answers.francais }}</p>
          <p *ngIf="exercice.exercice.answers.francais!='' &&exercice.exercice.answers.francais !== exercice.reponse.francais ">Domamge la réponse en français était : {{ exercice.exercice.answers.francais }}</p>
          <p *ngIf="exercice.exercice.answers.kanji !== '' &&exercice.exercice.answers.kanji === exercice.reponse.kanji">Bravo la réponse en kanji est bien : {{ exercice.exercice.answers.kanji }}</p>
          <p *ngIf="exercice.exercice.answers.kanji!=''&&exercice.exercice.answers.kanji !== exercice.reponse.kanji">Domamge la réponse en kanji était : {{ exercice.exercice.answers.kanji }}</p>
          <p *ngIf=" exercice.exercice.answers.hiragana !== ''&&exercice.exercice.answers.hiragana === exercice.reponse.hiragana">Bravo la réponse en hiragana est bien : {{ exercice.exercice.answers.hiragana }}</p>
          <p *ngIf="exercice.exercice.answers.hiragana!=''&&exercice.exercice.answers.hiragana !== exercice.reponse.hiragana">Domamge la réponse en hiragana était : {{ exercice.exercice.answers.hiragana }}</p>

          <p *ngIf=" exercice.exercice.answers.katakana !== ''&&exercice.exercice.answers.katakana=== exercice.reponse.katakana">Bravo la réponse en katakana est bien : {{ exercice.exercice.answers.katakana }}</p>     
          <p *ngIf="exercice.exercice.answers.katakana!=''&& exercice.exercice.answers.katakana!== exercice.reponse.katakana">Domamge la réponse en katakana était : {{ exercice.exercice.answers.katakana }}</p>

        </div>
        <!-- Cas de l'exercice de correspondance de mots -->
        <!-- <app-matching-words-exercise *ngSwitchCase="'matching-words'"></app-matching-words-exercise> -->
        <!-- Ajoutez d'autres cas pour les autres types d'exercices -->
      </div>
</div>

<div class="d-flex justify-content-center">
  <button *ngIf="!afficher" (click)="verifierControle()" class="btn btn-primary btn-lg mx-2">Vérifier</button>
  <button *ngIf="afficher &&!saved" (click)="recControle()" class="btn btn-success btn-lg mx-2">Enregistrer ce contrôle</button>
  <button *ngIf="afficher" (click)="setUpControle()" class="btn btn-secondary btn-lg mx-2">Refaire un contrôle</button>
  <p *ngIf="this.errorRec"> {{errorRecMessage}}</p>

</div>
