<div class="left">
    <span>{{score}}</span><span>/{{nbessaies}}</span>
</div>
<div *ngIf="this.TypeExo[0]">
    <div class="centrerSansFlex" *ngIf="this.standard">
        <h1>traduisez l'expresion suivante : {{expression}} </h1>
        <input class="padding" type="text"  id="ans">
        <br>
        <p *ngIf="this.aficher">Dommage La réponse était: {{ answer }}</p>
        <p *ngIf="this.correct">Félicitation La réponse est bien : {{ answer }}</p>
        <button (click)="verifier()"  *ngIf='!(this.correct||this.aficher)'>Vérifier la réponse</button>
        <button *ngIf='this.firstTry' (click)="afficher()">afficher la réponse</button>
        <button *ngIf='this.correct||this.aficher' (click)="next()">passer à une question suivant</button>

        
    </div>
</div>
<div *ngIf='this.TypeExo[1]'>
    <div class="centrer">
        <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let movie of this.listequestion" cdkDrag>
                {{movie}}
            </div>
        </div>
        <div cdkDropList class="example-list" (cdkDropListDropped)="dropListe2($event)">

            <div class="example-box" *ngFor="let movie of this.listeJap" cdkDrag>
                {{movie}}
            </div>
        </div>
        <div *ngIf="this.verified" class="example-list">

            <div class="example-box" *ngFor="let movie of this.listeDeVerif" >
                {{movie.juste}}
            </div>
        </div>
    </div>
    
    <div class="centrer">
        <button *ngIf="!this.correct" class="centrerSansFlex"(click)="verifier()">Verifier les réponses</button>
        <button *ngIf='this.correct' (click)="next()">passer a la série suivante</button>

    </div>
</div>