<!-- <div class="left">
    <span>{{score.scoreUser}}</span><span>/{{score.totalScore}}</span>
</div>
<div>
    <div class="centrerSansFlex">
        <h1>traduisez l'expresion suivante : {{expression}} </h1>
        <div class="container">
            <form class="needs-validation">
                <div class="form-group row" *ngIf="this.hira &&this.exo.caractere.japonaisHira!=''">
                    <label class="col"> Hiragana </label>
                    <input  class="col form-control" id="validationServer01" id='hira' required type="text" [(ngModel)]="this.exo.caractereReponse.japonaisHira" name="this.answer.japonaisHira" (keydown.enter)="verifier()">
                </div>
                <div  class="form-group row" *ngIf="this.kata&&this.exo.caractere.japonaisKata!=''">

                    <label class="col"> Katakana </label>
                    <input  class="col form-control" type="text" id='kata' [(ngModel)]="this.exo.caractereReponse.japonaisKata"(keydown.enter)="verifier()" name="answerUser.japonaisKata">
                </div>
                <div class="form-group row" *ngIf="this.kanji &&this.exo.caractere.kanji!=''">

                    <label class="col"> Kanji </label>
                    <input  class="col form-control" type="text" id='kan' [(ngModel)]="this.exo.caractereReponse.kanji"(keydown.enter)="verifier()" name="answerUser.kanji">
                </div>
                <div class="form-group row" *ngIf="this.fr &&this.exo.caractere.francais!=''">

                    <label class="col"> Français </label>
                    <input  class="col form-control" type="text" id='fra' [(ngModel)]="this.exo.caractereReponse.francais"(keydown.enter)="verifier()" name="answerUser.francais">
                </div>
                <br>

                <p *ngIf="this.afficher">Dommage La réponse était: en hiragana : {{ answer.japonaisHira }}, en katakana :{{answer.japonaisKata}}, en kanji : {{answer.kanji}}, en francais : {{answer.francais}} </p>
                <p *ngIf="this.correct">Félicitation La réponse est bien : en hiragana : {{ answer.japonaisHira }}, en katakana :{{answer.japonaisKata}}, en kanji : {{answer.kanji}}, en francais : {{answer.francais}}</p>
                <button  class='btn btn-primary' (click)="verifier()"  *ngIf='!(this.correct||this.afficher)'>Vérifier la réponse</button>
                <button class='btn btn-primary' *ngIf='this.premier&&!this.afficher' (click)="display()">afficher la réponse</button>
                <button class='btn btn-primary' *ngIf='this.correct||this.afficher' (click)="next()">passer à une question suivant</button>
            </form>
        </div>

        
    </div>
</div>


 <div *ngIf='this.TypeExo[1]'>
    <div class="centrer">
        <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let movie of this.listequestion" cdkDrag>
                {{movie}}
            </div>
        </div>
        <div cdkDropList class="example-list" (cdkDropListDropped)="dropListe2($event)">

            <div class="example-box" *ngFor="let movie of this.listeJap" cdkDrag>
                {{movie}}
            </div>
        </div>
        <div *ngIf="this.verified" class="example-list">

            <div class="example-box" *ngFor="let movie of this.listeDeVerif" >
                {{movie.juste}}
            </div>
        </div>
    </div>
    
    <div class="centrer">
        <button class='btn btn-primary' *ngIf="!this.correct" class="centrerSansFlex"(click)="verifier()">Verifier les réponses</button>
        <button class='btn btn-primary' *ngIf='this.correct' (click)="next()">passer a la série suivante</button>

    </div>
</div> -->

<div class="score float-right">Note : {{ scoreService.score$ | async }} / {{ scoreService.attempts$ | async }}</div>


<!-- Utilisation de ngSwitch pour afficher le bon type d'exercice -->
<div [ngSwitch]="exerciseType">
    <!-- Cas de l'exercice de traduction -->
    <app-translation-exercice *ngSwitchCase="'translation'" [exercice]="exercice" [reponse]='reponse' [afficherSolution]="afficherSolution"></app-translation-exercice>
    <!-- Cas de l'exercice de correspondance de mots -->
    <!-- <app-matching-words-exercise *ngSwitchCase="'matching-words'"></app-matching-words-exercise> -->
    <!-- Ajoutez d'autres cas pour les autres types d'exercices -->
  </div>
  <!-- Boutons -->
<!-- Ajoutez les boutons ici -->
<div class="text-center">
    <!-- Bouton de vérification -->
    <button *ngIf="verifierButtonVisible" (click)="verifierReponse()" class="btn btn-primary mr-2">Vérifier</button>
  
    <!-- Bouton pour afficher la solution -->
    <button *ngIf="showSolutionButtonVisible " (click)="afficherSolution = true; showSolutionButtonVisible=false;  verifierButtonVisible=false; nextButtonVisible=true"
      class="btn btn-secondary mr-2">Afficher la solution</button>
  
    <!-- Bouton pour passer à l'exercice suivant -->
    <button *ngIf="nextButtonVisible" (click)="onNextExerciceClicked()" class="btn btn-success">Exercice suivant</button>
  </div>